<StackLayout>
    <!-- need to change to transparent and ajust the hight -->
    <Label text="" textWrap="true" style="height: 30; background-color: transparent;"></Label>
    <GridLayout class="page">
        <TabView selectedIndex="0" class="tab-view font-18 fa">

            <StackLayout *tabItem="{title: 'Profile', iconSource: 'res://user'}">
                <!-- <Button text="profile" class="btn btn-primary" (tap)="goToProfile()"></Button> -->
                <ns-profile></ns-profile>
            </StackLayout>

            <StackLayout *tabItem="{title: 'Feed', iconSource: 'res://home'}">
                <!-- <Button text="home" class="btn btn-primary" (tap)="goToHome()"></Button> -->
                <ns-home></ns-home>
            </StackLayout>

            <StackLayout class="form" *tabItem="{title: 'Maps', iconSource: 'res://compass'}">
                <!-- <Button text="maps" class="btn btn-primary" (tap)="goToMap()"></Button> -->
                <ns-map></ns-map>
            </StackLayout>

            <StackLayout *tabItem="{title: 'Masseges', iconSource: 'res://comment'}">
                <!-- <Button text="chat" class="btn btn-primary" (tap)="goToChat()"></Button> -->
                <ns-chat></ns-chat>
            </StackLayout>

            <StackLayout *tabItem="{title: 'Setting', iconSource: 'res://gear'}">
                <!-- <Button text="settings" class="btn btn-primary" (tap)="goToSettings()"></Button> -->
                <ns-settings></ns-settings>
            </StackLayout>
        </TabView>
    </GridLayout>

</StackLayout>
