<FlexboxLayout class="page">
    <StackLayout class="form" height="100%">

        <Image src="~/app/assets/exercise.png" class="logo logo-img "></Image>
        <Label class="logo title" text="LetsPlay"></Label>

        <StackLayout [ngSwitch]="labelPicker">

            <StackLayout *ngSwitchDefault>
                <!-- LOGIN -->
                <Label text="Login" textWrap="true" class="sub-title"></Label>

                <!-- Form Control -->
                <StackLayout class="form-container">
                    <!-- Login Part -->
                    <!-- Email -->
                    <TextField hint="Email" class="input" keyboardType="email" [(ngModel)]="this.user.email">
                    </TextField>
                    <StackLayout class="hr-light"></StackLayout>

                    <!-- Password -->
                    <TextField hint="Password" class="input" secure="true" [(ngModel)]="this.user.password">
                    </TextField>
                    <StackLayout class="hr-light"></StackLayout>

                    <!-- Login -->
                    <Button text="Login" class="btn btn-login" (tap)="loginButton()"></Button>

                    <!-- SignIn -->
                    <Button text="Sign In" class="btn  " (tap)="showRegister()"></Button>

                    <!-- Forgot Pass -->
                    <Label text="Forgot Password?" class="forgot_password m-t-30 " (tap)="showForgotPass()"></Label>
                </StackLayout>
            </StackLayout>

            <!-- FORGOT PASS -->

            <StackLayout *ngSwitchCase="'forgot_password'">
                <!-- Back -->
                <Label text="Back" class="forgot_password" (tap)="goBackLogin()"></Label>
                <Label text="Forgot Password" textWrap="true" class="sub-title"></Label>

                <!-- Form Control -->
                <StackLayout class="form-container">

                    <!-- Forgot Password Part -->
                    <!-- Email -->
                    <TextField hint="Email" class="input item-form" keyboardType="email" [(ngModel)]="this.user.email">
                    </TextField>
                    <StackLayout class="hr-light"></StackLayout>

                    <!-- Buttons -->
                    <Button text="Send Email" class="btn btn-login m-t-20 " (tap)="forgotPassword()"></Button>

                    <!-- Back -->
                    <Label text="Back" class="forgot_password m-t-30 " (tap)="goBackLogin()"></Label>
                </StackLayout>
            </StackLayout>

            <!-- REGISTER -->
            <StackLayout *ngSwitchCase="'register'">
                <!-- Back -->
                <Label text="Back" class="forgot_password" (tap)="goBackLogin()"></Label>
                
                <Label text="Register" textWrap="true" class="sub-title-register"></Label>

                <!-- Form Control -->
                <StackLayout class="form-container">


                    <!-- Forgot Password Part -->
                    <!-- Email -->
                    <TextField hint="Email" class="input item-form" keyboardType="email" [(ngModel)]="this.user.email">
                    </TextField>
                    <StackLayout class="hr-light"></StackLayout>

                    <!-- Password -->
                    <TextField hint="Password" class="input item-form" secure="true" [(ngModel)]="this.user.password">
                    </TextField>
                    <StackLayout class="hr-light"></StackLayout>

                    <!-- Check Password -->
                    <TextField hint="Check Password" class="input item-form" secure="true"
                        [(ngModel)]="this.user.check_password"></TextField>
                    <StackLayout class="hr-light"></StackLayout>

                    <!-- FirstNAme -->
                    <TextField hint="First Name" class="input item-form" secure="false"
                        [(ngModel)]="this.user.user_first_name"></TextField>
                    <StackLayout class="hr-light"></StackLayout>

                    <!-- LAstname -->
                    <TextField hint="Last Name" class="input item-form" secure="false"
                        [(ngModel)]="this.user.user_last_name"></TextField>
                    <StackLayout class="hr-light"></StackLayout>

                    <!-- Username -->
                    <TextField hint="User Name" class="input item-form" secure="false"
                        [(ngModel)]="this.user.user_username"></TextField>
                    <StackLayout class="hr-light"></StackLayout>

                    <!-- Buttons -->
                    <Button text="Create Account" class="btn btn-login m-t-20 " (tap)="createAccountButton()"></Button>
                </StackLayout>
            </StackLayout>

        </StackLayout>

    </StackLayout>
</FlexboxLayout>
